@import url("../fonts/style.css");
html {
	scroll-behavior: smooth;
  }
body{
	 font-family: 'Futura Std Book';
}
.overlay {
	background: rgba(0,0,0,0.5);
}
.pull-left{
	float: left;
}

.pull-right{
	float: right;
}
img{
	max-width: 100%;
}
/*.bigtext{
	font-size: 45px;
	text-transform: uppercase;
}*/

.btnmrgtb{
	margin: 50px 0;
}


a:hover{
	text-decoration: none;
}
.other-title {
	color: #c18d33;
}

.custombtn {
    display: inline-block;
    font-size: 15px;
	color: #282728;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 1rem 1.8rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	text-transform: uppercase;
	min-width: 174px;
}

.custombtn:hover{
background: #caa41f;
color: #fff;
text-decoration: none;
}

.btn-outline {
    color: #282728;
    border-color: #282728;
}

.btn-outline-white {
    color: #fff;
    border-color: #fff;
}
a:hover {
    color: #caa41f;
    text-decoration: underline;
}

.btnmrg{
	margin: 65px 0 0;
}

.topbar ul{
	float: right;
	display: none;

}
.navbar-dark .navbar-toggler {
    margin: 30px;
	float: right;
}

.navbar-dark .navbar-brand {
   
}


.navbar>.container, .navbar>.container-fluid{
	    display: flex;
}
nav{
	width: 100%;
	left: 0;
	top: 0;

}
.navbar {
	padding: 0px;
	position: absolute;
	z-index: 999;
}
.navbar-dark .navbar-nav .nav-link {
	font-family: 'Futura Std Light';
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	margin: 0 5px;
	padding: 5px 10px;
}
.navbar-dark .navbar-nav .nav-link:hover{
	color: #cca623;
	position: relative;
}

/*.navbar-dark .navbar-nav .nav-link:hover::before{
	content: "...";
   	width: 10px;
    height: 11px;
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    margin: 0 auto;
}*/

.navbar-dark .navbar-nav .active>.nav-link{
	color: #cca623;
	position: relative;
}

.nav-item:last-child a {
	background: #d8ad19;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
}

/*
.navbar-dark .navbar-nav .active>.nav-link::before{
	content: "...";
    width: 10px;
    height: 11px;
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    margin: 0 auto;
}*/

.ml-auto{
	margin: 30px auto 0 !important;
}

.logo a{
	padding: 10px 0 !important;
}


header{
	
	width: 100%;
	position: relative;
}

.home-slide {
	min-height: 600px;
}
.mainslider{
	padding: 0px;
}
.SliderContent{
    padding-top: 250px;
	padding-bottom: 150px;
	position: absolute;
}
.SliderContent h2 {
	font-size: 45px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	padding: 0;
}

.SliderContent h3{
	font-family: 'Futura Std Light';
	font-size: 20px;
	line-height: 20px;
	font-weight: 400;
	color: #fff;
	padding: 0;
	margin: 10px 0px 30px;
	width: 380px;

}

.SliderContent a{
	display: inline-block;
    font-size: 15px;
	color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 0.5rem 1.5rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	text-transform: uppercase;
	
}

.slidethumbs{
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.4+0,0.4+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */

}

.slidethumbs ul{
	padding: 0px;
	margin: 0px;

}

.slidethumbs ul li{
	list-style: none;
	width: 25% !important;
	padding: 20px 0;
	display: block;
	padding-right: 20px;
	border-top:2px solid transparent;
}

.slidethumbs ul li:hover{
	border-top:2px solid #d8ad19;
	cursor: pointer;
}

.slidethumbs ul li:hover h2{
	 color: #d8ad19;
}

.slidethumbs ul li:last-child{
	padding-right: 0px;
}

.slidethumbs ul li img{
	border-radius: 50px;
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 15px;
}

.slidethumbs ul li h2{
	    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 0 0 0;
}

.slidethumbs ul li p{
	font-size: 12px;
	font-weight: 400;
	color: #fff;
	padding: 0;
}

.home-slide{
	/*background-image: url(../images/slider1.jpg);*/
}
.slide-faq{
	background-image: url(../images/faq-banner.jpg );
}
.slide-aircraft{
	background-image: url(../images/aircraft-management.jpg);
}
.slide-camo{
	background-image: url(../images/camo-banner.jpg);
}

.slide-aircraftcharter{
	background-image: url(../images/aircraft-charter-2.jpg);
}

.slide-aircraftsale{
	background-image: url(../images/aircraft-sales.jpg);
	background-position: center bottom;
}
.slide-ourfleet{
	background-image: url(../images/our-fleet-banner.png);
	background-position: center center;
}
.slide-fleetguide {
	background-image: url(../images/fleet-guid-banner.jpg);
	background-position: center center !important;
}
.slide-news{
	background-image: url(../images/news.jpg);
	background-position: center bottom;
}
.about-header{
	background-image: url(../images/about-header.jpg);
	background-position: center bottom;
}

.luxury-partner{
	background-image: url(../images/luxury-partner.jpg);
	background-position: center bottom;
}
.luxury-partner .overlay {
	background: none;
}
.soneva-kiri{
	/* background-image: url(../images/luxury-partner.jpg);
	background-position: center bottom; */
}

.innerheader{
	padding-top: 0px;
	background-size: cover !important;
}

.innercontent{
	padding-top: 250px;
	padding-bottom: 150px;
}
.innerheader h2{
	font-size: 60px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	padding: 0;
}

.innerheader h3{
	font-family: 'Futura Std Light';
	font-size: 20px;
	line-height: 20px;
	font-weight: 400;
	color: #fff;
	padding: 0;
	margin: 10px 0px 30px;


}

.innerheader a{
	display: inline-block;
    font-size: 15px;
	color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 0.5rem 1.5rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	text-transform: uppercase;
	
}

.innerheader img{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.welcome h3{
	color:#caa41f;
	font-size: 18px;
	text-transform:uppercase;
	margin: 30px 0;
}
.welcome h2{
	 font-family: 'Futura Std Medium';
	font-size: 40px;
	text-transform: uppercase;
	padding:0px;
	margin-bottom: 40px;

}
.welcome p{
	box-sizing: border-box;
	 font-family: 'Futura Std Light';
	font-size: 17px;
	margin-bottom: 24px;
	
}

.discover{
	padding: 65px 0 100px 0;
	text-align: center;
}

.discover h3{
	color:#caa41f;
	font-size: 18px;
	text-transform:uppercase;
	margin: 0 0 20px 0;
}
.discover h2{
	 font-family: 'Futura Std Medium';
	font-size: 36px;
	text-transform: uppercase;
	padding:0px;
	margin:0px;

}
.discover p{
	box-sizing: border-box;
	 font-family: 'Futura Std Light';
	font-size: 17px;
	margin-bottom: 24px;
	
}

.discover .box{
	    text-align: left;
    padding: 0 45px;
    position: absolute;
    left: 0;
    bottom: 0;
	
}
.discover .box h4{
	 font-family: 'Futura Std Medium';
	font-size: 24px;
	text-transform: uppercase;
	padding:0px;
	margin:0px;
	color: #fff

}
.discover .box p{
	box-sizing: border-box;
	 font-family: 'Futura Std Light';
	font-size: 13px;
	margin-bottom: 24px !important;
	color: #fff
	
}

.request{
	width: 100%;
	background: url(../images/plan-bg.jpg);
	padding: 50px 0;
	
}
.request ul{
	padding: 0px;
	margin: 0px;
}
.request ul li{
	list-style: none;
	font-family: 'Futura Std Heavy';
	font-size: 35px;
	color: #fff;
	display: inline-block;
	border-right: 1px solid #fff;
	padding: 0 40px;
}

.request ul li span{
	 font-family: 'Futura Std Book';
	font-size: 15px;
	color: #fff;
	display: block;
	text-transform: uppercase;
	padding-top: 10px;
}

.request ul li:first-child{
	padding-left: 0px;
}

.request ul li:last-child{
	border: none;
}


.request h3{
	color:#fff;
	font-size: 18px;
	text-transform:uppercase;
	margin: 50px 0 10px 0;
}
.request h2{
	 font-family: 'Futura Std Medium';
	font-size: 36px;
	text-transform: uppercase;
	padding:0px;
	margin:0px;color:#fff;

}
.request a{
	margin-top: 20px;
}

.magazine{
	padding: 0;
	text-align: center;
	overflow: hidden;
}

.magazine h3{
	color:#caa41f;
	font-size: 18px;
	text-transform:uppercase;
	margin: 0 0 20px 0;
}
.magazine h2{
	 font-family: 'Futura Std Medium';
	font-size: 36px;
	text-transform: uppercase;
	padding:0px;
	margin:0px 0 60px 0;

}
.magazine ul{
	padding: 0px;
	margin: 0px;
}
.magazine ul li{
	list-style: none;
	
}

.magazine ul li p{
	font-size: 27px;
	text-align: center;
	text-transform: uppercase;
	
}

.popdestination{
	background: #1e1f2d;
	padding: 70px 0;
	overflow: hidden;
}
.popdestination h2{
	 font-family: 'Futura Std Medium';
	font-size: 45px;
	text-transform: uppercase;
	padding:0px;
	margin:0px;
	color: #fff;

}

.popdestination ul{
	padding: 0px;
	margin: 0px;
}
.popdestination li{
	
	position: relative;
	margin: 0 10px;
}
.popdestination .box {
	text-align: left;
	padding: 0 18px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0,0,0,0.5);
	visibility: hidden;
	transition: opacity 0.2s , visibility .2s;
}
.popdestination .image-wrap:hover .box {
	visibility: visible;
    opacity: 1;
}
.popdestination .box h4{
	 font-family: 'Futura Std Medium';
	font-size: 16px;
	text-transform: uppercase;
	padding:0px 0 6px 0;
	margin:0px;
	color: #fff

}
.popdestination .box p{
	box-sizing: border-box;
	 font-family: 'Futura Std Light';
	font-size: 12px;
	margin-bottom: 24px;
	color: #d8ad19;
	text-transform: uppercase;
}

.news{
	padding: 100px 0;
}

.news h3{
	color:#caa41f;
	font-size: 18px;
	text-transform:uppercase;
	margin: 0 0 20px 0;
		text-align: center;
}
.news h2{
	 font-family: 'Futura Std Medium';
	font-size: 36px;
	text-transform: uppercase;
	padding:0px;
	margin:0px 0 60px 0;
		text-align: center;

}

.news .newsbox span.date{
	color: #c1c1c1;
	font-size: 12px;
	padding: 20px 0;
	display: block;
}

.news .newsbox h4{
	font-family: 'Futura Std Medium';
	font-size: 24px;
	text-transform: uppercase;
	padding:0px 0 6px 0;
	margin:0px;

}
.news .newsbox p{
	 font-family: 'Futura Std Medium';
	font-size: 16px;
	padding:0px 0 6px 0;
	margin:0px;

}

.news .newsbox a{
        display: inline-block;
    font-size: 13px;
   color: #282728;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 0.8rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-transform: uppercase;
    /* min-width: 174px; */
    
    border-color: #282728;
    margin-top: 10px;
}

.news .newsbox a:hover{
background: #caa41f;
color: #fff;
text-decoration: none;
}

.embed-responsive {
	margin-right: 20px;
	width: 50%;
	float: left;
}
	
.awards{
	padding: 50px 0 100px 0;
	text-align: center;
	border-top: 1px solid #ddd;
}


.awards h2{
	 font-family: 'Futura Std Medium';
	font-size: 36px;
	text-transform: uppercase;
	padding:0px;
	margin:0px 0 60px 0;

}


.bigtext{
	font-size: 50px;
    line-height: 60px;
    color: #282728;
    padding: 50px 0;
    font-weight: 500;
	
}

.footer{
	width: 100%;
	background: url(../images/footer-bg.jpg) center center;
	padding: 50px 0;
	margin: 0px;
}

.footer img{
	margin-bottom: 15px;
}

.footer p{
	color: #fff;
	font-size: 13px;
	
}
.footer #text-4 ul {
	padding-left: 20px;
	color: #fff;
}
.footer #text-4 ul li a {
	color: #fff;
	font-size: 13px;
}
.footer .col-xl-2 {
	padding-left: 40px;
}
.footer .col-xl-2 p {
	margin-bottom: 3px;
}

a.btnregister{
    font-size: 22px;
	color: #282728;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #cca623;
    border: 1px solid transparent;
    padding: 0.5rem 1.8rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	text-transform: uppercase;
	min-width: 174px;
	margin: 40px auto;
	font-weight: 700;
	
}

.camo{
	padding: 80px 0;
}

.camo .text{
	font-size: 25px;
}

.boxspace{
	margin-top: 50px;
}

.customheading{
	font-family: 'Futura Std Medium';
	font-size: 45px;
	text-transform: uppercase;
	padding:0px 0 20px 0;
	margin:0px;
}

.inventory{
	background: #f8f7f4;
	 padding: 50px 0;
	height: auto;
	margin-bottom: 50px;
}

.inventory h4{
	padding: 15px 0 !important;
    font-size: 30px !important;
}

ul.sliders{
	    margin: -150px 0 60px 0;
}

.newsarea{
	margin: 25px 0;
	border: 1px solid #ddd;
	min-height: 600px;
	position: relative;
}
.newsarea .ThumbnailImg{
	width: 100%;
	height: 260px;
	display: block;
	background-size: cover !important;
}
.newsarea span.date{
	color: #c1c1c1;
	font-size: 12px;
	padding: 20px 20px 10px;
	display: block;
}

.newsarea h4{
	    font-family: 'Futura Std Medium';
    font-size: 22px;
    padding: 0px 20px 6px 20px;
    margin: 0px;
    font-weight: 700;

}
.newsarea p{
	 font-family: 'Futura Std Medium';
	font-size: 17px;
	color: #282728;
	padding:20px 20px;
	margin:0px;
}
.newsarea p:empty {
	padding:0 !important;
}

.newsarea a{
	display: inline-block;
    font-size: 15px;
    color: #282728;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 2rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-transform: uppercase;
    /* min-width: 174px; */
    border-color: #282728;
    margin: 30px 0 20px 20px;
	position: absolute;
	bottom: 0;
}
.newsarea a:hover {
    background: #caa41f;
    color: #fff;
    text-decoration: none;
}

.empiretext{
	font-size: 33px;
}
.luxurybox{
	position: relative;
    height: 396px;
    overflow: hidden;
	margin: 30px 0;
}
.luxurybox .box{
	    text-align: left;
    padding: 0 20px;
    position: absolute;
    left: 0;
    bottom: 0;
	width: 100%;
	
}
.luxurybox .box h4{
	 font-family: 'Futura Std Light';
	font-size: 18px;
	padding:0px 0 6px 0;
	margin:0px;
	color: #fff;


}
.luxurybox .box h4 span{
font-family: 'Futura Std Heavy';

}

.luxurybox .box h5{
	 font-family: 'Futura Std Light';
	font-size: 12px;
	padding:0px 0 6px 0;
	margin:0px;
	color: #fff;
	font-weight: 700;

}
.luxurybox .box h5 span{

	    color: #d8ad19;

}
.luxurybox .box p{
	box-sizing: border-box;
	 font-family: 'Futura Std Light';
	font-size: 15px;
	margin-bottom: 24px;
	color: #d8ad19;
}

.timelinewrap {
    padding: 100px 0;
    text-align: center;
    overflow: hidden;
}
.timelinewrap h3 {
    color: #caa41f;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.timelinewrap h2 {
    font-family: 'Futura Std Medium';
    font-size: 36px;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px 0 60px 0;
}
.timeline {
  position: relative;
  width: 100%;
  padding: 30px 0;
}

.timeline .timeline-container {
  position: relative;
  width: 100%;
}

.timeline .timeline-end,
.timeline .timeline-start,
.timeline .timeline-year {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.timeline .timeline-end p,
.timeline .timeline-year p {
      display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #cca623;
    border-radius: 100%;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, .4); */
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}

.timeline .timeline-start p{
	display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    background: #fff;
    border-radius: 100%;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, .4); */
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
	    border: 3px solid #cca623;
}

.timeline .timeline-year {
  margin: 30px 0;
}

.timeline .timeline-continue {
  position: relative;
  width: 100%;
  padding: 60px 0;
}

.timeline .timeline-continue::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -3px;
  background: #cca623;
}

.timeline .timeline-continue .timeline-right:nth-child(2n+2) .col-md-6.contentSection{
	float: left !important;
	order: 1;
}

.timeline .row.timeline-right:nth-child(2n+2) .timeline-date:after{
	right: auto !important;
	left: -14px !important;
	
}
.timeline .row.timeline-right:nth-child(2n+2) .timeline-text{
	margin: 0 40px 0 0 !important;
	text-align: right !important;
}

.timeline .timeline-continue .timeline-right:nth-child(2n+2) .col-md-6{
	float: right;
    order: 2;
}

.timeline .row.timeline-left,
.timeline .row.timeline-right .timeline-date {
  text-align: right;
}

.timeline .row.timeline-right,
.timeline .row.timeline-left .timeline-date {
  text-align: left;
}
.timeline .row.timeline-right .timeline-text{
	margin-left: 40px;
}


.timeline .timeline-date {
  font-size: 14px;
  font-weight: 600;
  margin: 41px 0 0 0;
}

.timeline .timeline-date::after {
           content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 12px;
    background: #fff;
    border-radius: 100%;
    z-index: 1;
    border: 3px solid #cca623;
}

.timeline .row.timeline-left .timeline-date::after {
  left: -14px;
}

.timeline .row.timeline-right .timeline-date::after {
 right: -14px;
}

.timeline .timeline-box,
.timeline .timeline-launch {
  position: relative;
  display: inline-block;
  
  background: #ffffff;
}

.timeline .timeline-launch {
  width: 100%;
  margin: 15px 0;
  padding: 0;
  border: none;
  text-align: center;
  background: transparent;
}

.timeline .timeline-box::after,
.timeline .timeline-box::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
	display: none;
}

.timeline .row.timeline-left .timeline-box::after,
.timeline .row.timeline-left .timeline-box::before {
  left: 100%;
}

.timeline .row.timeline-right .timeline-box::after,
.timeline .row.timeline-right .timeline-box::before {
  right: 100%;
}

.timeline .timeline-launch .timeline-box::after,
.timeline .timeline-launch .timeline-box::before {
  left: 50%;
  margin-left: -10px;
}

.timeline .timeline-box::after {
  top: 26px;
  border-color: transparent transparent transparent #ffffff;
  border-width: 10px;
}

.timeline .timeline-box::before {
  top: 25px;
  border-color: transparent transparent transparent #dddddd;
  border-width: 11px;
}

.timeline .row.timeline-right .timeline-box::after {
  border-color: transparent #ffffff transparent transparent;
}

.timeline .row.timeline-right .timeline-box::before {
  border-color: transparent #dddddd transparent transparent;
}

.timeline .timeline-launch .timeline-box::after {
  top: -20px;
  border-color: transparent transparent #dddddd transparent;
}

.timeline .timeline-launch .timeline-box::before {
  top: -19px;
  border-color: transparent transparent #ffffff transparent;
  border-width: 10px;
  z-index: 1;
}

.timeline .timeline-box .timeline-icon {
  position: relative;
  width: 40px;
  height: auto;
  float: left;
}

.timeline .timeline-icon i {
  font-size: 25px;
  color: #4F84C4;
}

.timeline .timeline-box .timeline-text {
  position: relative;
  width: calc(100% - 40px);
  float: left;
}

.timeline .timeline-launch .timeline-text {
  width: 100%;
}
.timeline .timeline-text h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 3px;
	color: #717171;
}

.timeline .timeline-text h3 {
      font-size: 22px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
    font-family: 'Futura Std Bold Condensed';
}

.timeline .timeline-text p {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 0;
}
#bgVideo{
  width: 100vw;
  min-width: 100%;
  min-height: 100%;
}
.soneva-kiri .container {
	max-width: 100vw;
	position: absolute;
	top: 0;
	/* background: rgba(0, 0, 0, 0.5); */
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
}
.soneva-kiri .sub-container{
	max-width: 1140px;
	margin: 0 auto;
}
.soneva-kiri .luxury-heading {
	font-size: 28px;
	font-weight: 900;
}
.soneva-kiri.innerheader img {
	position: relative;
	max-width: 200px;
	filter: brightness(0) invert(1);

}
.luxury-panel > img {
	max-width: 200px;
}
.luxury-panel.col-xl-9.col-lg-8.col-md-12.col-12.pt-4.text-center {
	margin: 0 auto;
}
.luxury-panel h3 {
	margin-top: 75px;
	font-size: 26px;
	font-weight: 900;
	color: #c18d33;
}
.luxury-panel h2 {
	font-weight: 900;
	padding-top: 10px;
	font-size: 19px;
}
.luxury-panel p {
	margin-top: 100px;
	text-justify: inter-word;
	text-align: justify !important;
}
.luxury-panel video {
	max-width: 524px;
}
.imageswipe {
	height: 340px;
	overflow: hidden;
}
.collage-photos .col-md-6 img {
	height: 140px;
	width: 100%;
}
.fi .collage-photos .col-md-6 img,.sf .collage-photos .col-md-6 img{
	height: 158px;
	width: 100%;
}
.private-plane.luxury-panel p {
	margin-top: 0px;
	text-justify: inter-word;
	text-align: justify !important;
	height: auto;
}
.private-plane .innercontent {
	padding-top: 384px;
	padding-bottom: 150px;
}
@media (max-width: 768px) {
  .timeline .timeline-continue::after {
    left: 40px;
  }

  .timeline .timeline-end,
  .timeline .timeline-start,
  .timeline .timeline-year,
  .timeline .row.timeline-left,
  .timeline .row.timeline-right .timeline-date,
  .timeline .row.timeline-right,
  .timeline .row.timeline-left .timeline-date,
  .timeline .timeline-launch {
    text-align: left;
  }

  .timeline .row.timeline-left .timeline-date::after,
  .timeline .row.timeline-right .timeline-date::after {
    left: 39px;
  }

  .timeline .timeline-box,
  .timeline .row.timeline-right .timeline-date,
  .timeline .row.timeline-left .timeline-date {
    margin-left: 55px;
  }

  .timeline .timeline-launch .timeline-box {
    margin-left: 0;
  }

  .timeline .row.timeline-left .timeline-box::after {
    left: -20px;
    border-color: transparent #ffffff transparent transparent;
  }

  .timeline .row.timeline-left .timeline-box::before {
    left: -22px;
    border-color: transparent #dddddd transparent transparent;
  }

  .timeline .timeline-launch .timeline-box::after,
  .timeline .timeline-launch .timeline-box::before {
    left: 30px;
    margin-left: 0;
  }
}

#accordion h4, #accordion1 h4 {
	background: #ddd;
	text-align: left;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	font-family: Lato, sens-serif;
}


#accordion h4:focus, #accordion1 h4:focus{
	outline:none;
}

#accordion .ui-accordion-content,#accordion1 .ui-accordion-content{
	text-align: left;
	font-size: 14px;
	height: auto !important;
}

#accordion .ui-state-active,#accordion1 .ui-state-active{
	background: #caa41f;
	color: #fff;
}
#booknow, #requestnow{
	width: 600px;
	
}
#emailPopup{
	max-width: 800px;
}

#booknow h2 , #requestnow h2{
	font-size: 36px;
	color: #000;
	text-transform: uppercase;
}

#booknow h3 , #requestnow h3, #emailPopup h3{
	font-size: 25px;
	color: #cca623;
}
#emailPopup a {
	color: #cca623;
}
#booknow  input[type=text] , #requestnow input,#requestnow select, .onlineform select, .onlineform input[type=email],.onlineform input[type=date]{
	width: 100%;
	display: block;
	border: 1px solid #cbcbcb;
	font-size: 14px;
	padding:10px 10px;
	margin: 10px 0;
	
}

#booknow textarea{
	width: 100%;
	display: block;
	border: 1px solid #cbcbcb;
	font-size: 14px;
	padding:10px 10px;
	margin: 10px 0;
	height: 130px;
	
}

#booknow  input[type=text]:focus, #booknow textarea:focus{
	outline: none;
}
#booknow  input[type=button] , #requestnow input[type=button], #requestnow input[type=submit]{
	width: 100%;
	display: block;
	background: #cca623;
	color: #fff;
	font-size: 24px;
	padding:10px 10px;
	margin: 10px 0;
	border: none;
	text-transform: uppercase;
	
}
.onlineform{
	padding: 0 30px 0 40px;
	margin-bottom: 60px;
}
.onlineform h2 {
    font-family: 'Futura Std Medium';
    font-size: 36px;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px 0 60px 0;
    text-align: center;
}
.onlineform  input[type=text],
.onlineform  input[type=email],
.onlineform  input[type=tel],
.onlineform  input[type=number] {
	width: 100%;
	display: block;
	border: 1px solid #cbcbcb;
	font-size: 14px;
	padding:10px 10px;
	margin: 10px 0;
	outline: none;
	
}

.onlineform textarea{
	width: 100%;
	display: block;
	border: 1px solid #cbcbcb;
	font-size: 14px;
	padding:10px 10px;
	margin: 10px 0;
	height: 200px;
	
}

.onlineform  input[type=text]:focus, #booknow textarea:focus ,#requestnow input[type=text]:focus,#requestnow textarea:focus,.onlineform textarea:focus , .onlineform input[type=text]:focus{
	outline: none;
}
.onlineform  input[type=button],
.onlineform  input[type=submit] {
	width: 100%;
	display: block;
	background: #cca623;
	color: #fff;
	font-size: 24px;
	padding:10px 10px;
	margin: 10px 0;
	border: none;
	text-transform: uppercase;
	
}
.slick-slide img {
	display: block;
	margin: 0 auto;
}
.SliderContent h3 {
	background-color: rgba(211,211,211,0.3);
	padding: 15px;
}
@media only screen and (max-width:767px){
	.SliderContent h3 {
		padding: 5px;
	}
	.row.my-5.imageswipe.animated.d-block.d-md-none img {
		max-height: 187px;
	}
	.SliderContent h3 {
		margin-bottom: 5px;
	}
	.aircharter-row1 {
		flex-wrap: wrap-reverse;
	}
	.modal.show .modal-dialog {
		max-width: 95vw;
		margin: 0 auto;
	}
	.whatsapp-button i.fa {
		right: 10px;
		bottom: 85px;
	}
	.private-plane .tab-content {
		width: 100vw;
	}
	 .fancybox-type-iframe .fancybox-inner {
		height: 175px !important;
	}
	.fancybox-type-iframe .fancybox-outer {
		width: 340px !important;
	}
	
	header {
		min-height: 227px;
		max-height: 227px;
	}
	header.soneva-kiri {
		min-height: 160px;
		max-height: 160px;
	}
	.innercontent {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.overlay {
		background: rgba(0,0,0,0.2);
	}
	.navbar-nav ul.dropdown-menu {
		display: block !important;
	}
	
	.SliderContent {
    padding-top: 150px;
    padding-bottom: 0;
}
	.slidethumbs{
		display: none;
	}
	
	.navbar-dark .navbar-brand {
    margin-left: 20px;
}
	
	.SliderContent h3{
		width: 100%;
	}
	
	.welcome a{
		margin-bottom: 15px;
	}
	
	.discover .col-xs-3{
		margin-bottom: 20px;
	}
	
	.request ul li {
    list-style: none;
    font-family: 'Futura Std Heavy';
    font-size: 35px;
    color: #fff;
    display: inline-block;
    border-right: 1px solid #fff;
    padding: 0 9px;
}
	
	.newsbox{
		margin-bottom: 20px;
	}
	
	.awards img{
		margin-bottom: 20px;
		
	}
	
	.navbar{
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.96+0,0.96+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.96) 0%, rgba(0,0,0,0.96) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.96) 0%,rgba(0,0,0,0.96) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0.96) 0%,rgba(0,0,0,0.96) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5000000', endColorstr='#f5000000',GradientType=0 ); /* IE6-9 */
   
	}
	
	.nav-item:last-child a {
		background: #d8ad19;
		text-transform: uppercase;
		color: #fff;
	}
	
	.home-slide {
		min-height: 227px;
	margin-top: 100px;
}
	.home-slide .slick-slide img {
		height: 227px;
	}
	.home-slide .SliderContent {
		padding-top: 20px;
		padding-bottom: 0;
	}
	.welcome h2 {
    font-size: 20px;}
	
	.discover {
    padding: 40px 0;
}
	
	.discover h2 {
    font-size: 26px;
	}
	
	.request ul li {
    font-size: 30px;
	}
	
	.magazine {
    padding: 40px 0;
}
	.popdestination {
    padding: 30px 0;
}
	.popdestination h2 {
    font-size: 26px;
    text-align: center;
}
	
	.news {
    padding: 40px 0;
}
	.news h2 {
    font-size: 26px;
    margin: 0px 0 30px 0;
}
	
	.btnmrg {
    margin: 20px 0 0;
}
	.awards h2 {
    margin: 0px 0 30px 0;
}
	.awards {
    padding: 50px 0 20px 0;
	}
	.SliderContent h2 {
		font-size: 30px;
	}
	
	.innerheader h2 {
    font-size: 40px;
	}
	
	.bigtext {
    font-size: 30px;
		
		
    line-height: 40px;
    padding: 30px 0 30px 0;
}
	
	.inventory h4 {
    font-size: 24px !important;
}
	ul.sliders {
    margin: 0;
    padding: 0;
}
	
	.inventory {
    height: auto; 
}
	.customheading {
    font-family: 'Futura Std Medium';
		font-size: 30px;}
	
	a.btnregister{
		margin: 20px auto;
    display: block;
	}
	.camo {
    padding: 20px 0;
}
	.camo .text {
    padding-top: 30px;
}
	.slick-slide img {
    height: 400px;
}
	.timeline .row.timeline-right .timeline-text {
    margin-left: 0px;
}
}


/*****************  Hamza ******************************/



/* headar of contact us*/

.contact-header{
	background-image: url(../images/contact-us.png);
	background-position: center bottom;
}


.innerheaderc {
    background-size: cover;
    
}

.innerheaderc h2{
	font-size: 60px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	padding: 0;
}

.innerheaderc h3{
	font-family: 'Futura Std Light';
	font-size: 20px;
	line-height: 20px;
	font-weight: 400;
	color: #fff;
	padding: 0;
	margin: 10px 0px 30px;


}
.slick-prev.slick-arrow, .slick-next.slick-arrow {
	margin-top: 40px;
}


/* header of career*/

.career-header{
	background-image: url(../images/carrer-banner.jpg);
	background-position: center top;
}

.innerheaderca {
    background-size: cover;
    
}


.innerheaderca h2{
	font-size: 60px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	padding: 0;
}

.innerheaderca h3{
	font-family: 'Futura Std Light';
	font-size: 20px;
	line-height: 20px;
	font-weight: 400;
	color: #fff;
	padding: 0;
	margin: 10px 0px 30px;


}

/* Our Fleet and Fleet Guide */
.nav-item.dropdown:hover .dropdown-menu {
	display: block;
	transition: ease-in;
	transition-delay: 2s;
	width: 280px;
	padding: 17px;
}
.nav-item.dropdown:hover .dropdown-menu li {
	padding: 8px 20px;
}
.nav-item.dropdown:hover .dropdown-menu li:hover {
	background: #c18d33;
	border-radius: 10px;
}
.nav-item.dropdown .dropdown-menu li a {
	color: black;
	font-weight: 700;
	font-size: 13px;
	text-decoration: none;
	text-transform: capitalize;
}
.nav-item.dropdown .dropdown-menu li.active a {
	color: #c18d33;
}
.nav-item.dropdown:hover .dropdown-menu li.active:hover {
	background: none;
}
.slider-header span,.accordian-heading span {
	color: #c18d33;
}
.our-fleet .SliderContent {
	width: 100%;
}
.our-fleet .SliderContent h2,.SliderContent p{
    text-align: center;
    width: 100%;
}
.our-fleet .SliderContent p{
    color: white;
}
.our-fleet .SliderContent {
	padding-top: 375px;
	background: rgba(0,0,0,0.8);
	padding-bottom: 500px;
}
.our-fleet .main .container{
    padding: 80px ;
}


.our-fleet .accordian-heading {
	font-size: 28px;
	font-weight: 900;
	margin-bottom: 20px;
}
.our-fleet .card-body p, .card-body ul {
	color: rgba(30,31,45,.7);
}


.our-fleet .accordion .card-header {
    padding: 0;
}
.our-fleet .accordion .card-header {
	background-color: #c18d33;
}
.our-fleet .accordion .card-header button {
    text-align: left;
    display: block;
    width: 100%;
    font-size: 18px;
    color: #000000;
    position: relative;
}

.our-fleet .accordion .card-header button.collapsed::after {
    position: absolute;
    width: 2px;
    height: 12px;
    content: '';
    background-color: #000;
    right: 12px;
    top: 54%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.our-fleet .accordion .card-header button::before {
    position: absolute;
    width: 12px;
    height: 2px;
    content: '';
    background-color: #000;
    right: 7px;
    top: 50%;
}

.our-fleet .accordion .card-header button:hover {
    text-decoration: none;
}

.our-fleet .accordion .card-header button i {
    float: right;
    margin-top: 3px;
}

.our-fleet .accordion .card-body {
	padding: 50px;
	font-size: 16px;
}
.our-fleet .accordion .card-body table {
    margin: 0;
}

.our-fleet .accordion .card-body table a {
    color: #000;
}

.our-fleet .accordion .card-body table span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.our-fleet .accordion ul.occasion_list a {
    padding: 5px 15px;
    color: #222;
    font-size: 14px;
    display: inline-block;
}

.our-fleet .accordion ul.occasion_list a:hover {
    color: #002247;
}
.our-fleet .spec-image {
	align-items: center;
	display: flex;
}
.our-fleet .img-bg {
	padding: 20px;
}
.img-bg p a {
	color: white;
	background: #c18d33;
	border: none;
}
.img-bg p {
	padding: 30px;
}
.ltx-go-top.floating.show {
	position: fixed;
	right: 50px;
	bottom: 50px;
	background: #c18d33;
	display: none;
	padding: 13px;
	border-radius: 50px;
	width: 80px;
	height: 80px;
	text-align: center;
	cursor: pointer;
	z-index: 9;
}
.ltx-go-top {
	color: #c18d33;
}
.ltx-go-top span {
	text-decoration: none;
}
.ltx-go-top.floating.show:hover {
	background: #fff;
	color: black !important;
}
.attachment-full.size-full {
	display: flex;
	justify-self: center;
}



.fancybox-custom .fancybox-skin {
	box-shadow: 0 0 50px #222;
}




@media only screen and (min-width:767px){
    .navbar {
      margin-top: 40px;
	}
	.fancybox-type-iframe .fancybox-inner {
		height: 416px !important;
		width: 740px !important;
	}
	.fancybox-wrap.fancybox-desktop.fancybox-type-iframe.fancybox-opened {
		width: 768px !important;
	}
	#bgVideo{
		width: 98vw;
	  }
	}
	




@media only screen and (max-width: 767px) {
	.onlineform {
		padding: 0 10px 0 10px;
	}
	.onlineform h3 {
		font-size: 20px;
		text-justify: inter-word;
	}
	.boxspace.contact ul {
		padding: 0;
	}
	.nav-item.dropdown:hover .dropdown-menu {
		padding: 0px 25px;
	}
	#navbarResponsive {
		padding: 15px 0;
	}
	.popdestination  h4.text-center.text-white.text-uppercase {
		color: #c18d33 !important;
		font-size: smaller;
		margin-top: 15px;
	}
	.popdestination  .dlogo .slick-next {
		left: auto !important;
	}
	.dlogo .slick-prev {
		right: auto !important;
		left: 70px !important;
	}
	.luxurybox {
		position: relative;
		max-height: 396px;
		overflow: hidden;
		margin: 30px 0;
		height: auto;
	}
	.luxurybox .box {	
		position: relative;
		bottom: 125px;
	}
	.slide-aircraftcharter {
		background-position: center right !important;
	}
	.slick-prev.slick-arrow {
		margin-top: 40px;
		position: absolute;
		left: 70px;
	}
	.slick-next.slick-arrow {
		margin-top: 40px;
		position: absolute;
		right: 70px;
	}
	.camo h2 {
		padding-top: 40px;
	}
	.camo p {
		padding-top: 15px;
	}
	.navbar-nav .dropdown-menu {
		padding-left: 50px;
		background: black;
	}
	.nav-item.dropdown .dropdown-menu li a {
		color: white;
	}
	.our-fleet .main .container {
		padding: 25px 10px;
	}
	.our-fleet .accordion .card-body {
		padding: 50px 20px;
	}
	.our-fleet .SliderContent {
		padding-top: 170px;
		padding-bottom: 170px;
	}
	.our-fleet .SliderContent {
		width: 94%;
	}
	.innerheader {
		margin-top: 100px;
	}
	.innerheader {
		margin-top: 100px;
		background-position: left;
	}
	.nav-item.dropdown:hover .dropdown-menu li {
		padding: 0px;
	}
	.nav-item.dropdown:hover .dropdown-menu li:hover {
		background: none; 
		border-radius: 0;
	}
	.overlay {
		height: 227px;
	}
	.innerheaderc {
		background-size: cover;
		margin-top: 100px;
	}
	.soneva-kiri.innerheader {
		padding-top: 0px;
		background-size: cover;
	}
	.innerheader.soneva-kiri {
		height: 600px;
		overflow: hidden;
	}
	.innerheader.soneva-kiri {
		height: 600px;
		overflow: hidden;
	}
	#bgVideo {
		width: 100vw;
		min-width: 100%;
		min-height: 100%;
		/* height: 153px; */
	}
	.innerheader {
		margin-top: 100px;
		background-position: left;
	}
	.soneva-kiri.innerheader img {
		position: relative;
		max-width: 80px;
		/* float: left; */
	}
	.soneva-kiri.innerheader h3 {
		font-size: 14px;
		line-height: 17px;
		margin: 0px;
	}
	.soneva-kiri .innercontent {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.soneva-kiri .container {
		top: 0px;
		padding: 21px;
	}
	.imageswipe {
		height: auto;
		overflow: hidden;
	}
	.imageswipe img {
		max-width: 100%;
		height: 100%;
	}
	#aircrafts-sales h3 span {
		position: relative;
		top: -60px;
		color: white;
		background: rgba(0,0,0,0.5);
		padding: 10px;
		font-size: 20px;
	}
	#emailPopup p {
		font-size: 0.8rem;
		margin-bottom: 3px;
	}
	.dialbtn .custombtn {
		padding: 1rem 1.5rem;
		min-width: 130px;
		font-size: 14px;
		border: 1px solid black;
	}
	.dialbtn p {
		font-size: 14px;
	}
	.dialbtn h3 {
		font-size: 13px;
	}
	.custombtn {
		display: inline-block;
		font-size: 15px;
		color: #282728;
		text-align: center;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		/* user-select: none; */
		background-color: transparent;
		border: 1px solid transparent;
		padding: 10px;
		line-height: 1.5;
		transition: .15s ease-in-out;
		text-transform: capitalize;
		min-width: 100px;
	}
	.private-plane .custombtn {
		font-size: 13px;
	}
	.custombtn:hover {
		background: #c18d33;
	}
	.boxspace .onlineform {
		padding: 0;
		margin-bottom: 60px;
	}
	.ltx-go-top.floating.show {
		width: 68px;
		height: 68px;
		font-size: small;
		right: 4px;
		bottom: 4px;
	}
	.popdestination .box {
		left: 30px;
	}
  }
  .custombtn.btn-outline.active {
	background: #c18d33;
	color: #fff;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #fff;
	background-color: #c18d33;
	border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-link {
	color: black;
}

  /* Animations */

  

.grow img{
	transition: 1s ease;
	}
	
.grow img:hover {
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.05);
		transition: 0.7s ease-in-out;
	}
.fancybox-skin img:hover{
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	transition: none;
}
/* .zoom img {
	transition: 2s ease;
	-webkit-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
	transition: 40s ease;
} */

#booknow, .modal,#requestnow {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
#aircrafts-sales h3 span{
	position: relative;
	top: -60px;
	color: white;
	background: rgba(0,0,0,0.5);
	padding: 10px;
}
#aircrafts-sales h3{
	text-align: center;
}
#aircrafts-sales li{
	cursor: pointer;
}
#aircrafts-sales a:hover {
	text-decoration: none;
}

.slide-aircraftsale-bg5000{
	background-image: url(../images/Our-Fleet/aircraft-sales-image-scaled.jpg);
	background-position: bottom;
}
.slide-aircraftsale-bc300 {
	background-image: url(../images/aircharter/2013-Bombardier-Challenger-300-12.jpg);
	background-position: bottom;
}
.tab-content {
	padding: 30px;
	background: #f8f8f8;
	color: #808189;
}
.btn-white {
	background: white;
}

.fa {
	padding-right: 10px;
}
.boxspace.contact > .row {
	padding: 0 30px 0 40px;
}
.dlogo .slick-prev::before,.dlogo .slick-next::before {
	color: white;
}
.dlogo .slick-prev {
	right: 500px !important;
	left:auto;
}
.dlogo .slick-next {
	left: 500px !important;
}
.dlogo a h5 {
	color: #d8ad19;
}
.popdestination .col-xl-4 h3{
	line-height: 2.8rem;
}
.private-plane .tab-content {
	padding: 30px;
	background: #fff;
	color: #808189;
	border: 1px solid #e1e1e1;
}

.private-plane .collage-photos .col-md-6 img {
	height: 136px;
	width: 100%;
}
nav .contact-info.nav-item a.nav-link{
	font-size: 12px;
}
.covid-notice .row .col-md-4.col-12{
	background: #d8ad19;
}
.covid-notice a {
	cursor: pointer;
	color: white !important;
}


.covid-notice p {
	font-size: small;
}
.whatsapp-button i {
	color: #fff;
	font-size: 26px;
	border-radius: 100%;
	padding-left: 10px;
}
.whatsapp-button {
	z-index: 9;
	position: fixed;
	right: 62px;
	bottom: 138px;
	background: #25D366;
	color: #fff;
	padding: 3px 7px;
	border-radius: 14px;
	font-size: 13px;
	line-height: 26px;
}
section.topbar {
	position: absolute;
	z-index: 9;
	width: 100%;
}
nav.navbar .nav-item:last-child a:hover {
	background: #d8ad19;
	text-transform: uppercase;
	color: #fff;
}

.flip-card {
	background-color: transparent;
	border: 1px solid #f1f1f1;
	perspective: 1000px;
	height: 220px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
	color: black;
	display: flex;
	align-content: center;
	align-items: center;
	background: #fff;
}

/* Style the back side */
.flip-card-back {
	background-color:#c18d33;
	color: white;
	transform: rotateY(180deg);
	height: 220px;
	padding: 20px;
}
.awards h5{
	font-size: 1rem;
	padding-top: 10px;
}
.awards p{
	font-size: small;
}
.dlogo .flip-card {
	background-color: transparent;
	border: none;
	height: 360px;
}
.dlogo  .flip-card-front {
	background: none;
}
.dlogo .flip-card-back {
	background-color: transparent;
	bottom: 0;
}


/**MyStyle**/
.navbar-collapse .menu-main-menu-container{
	margin: 30px 0 0 auto  !important;
	float: left;
}
.navbar-collapse .menu-main-menu-container ul{
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
}
.navbar-collapse .menu-main-menu-container li{
	float: left;
	position: relative;
}
.navbar-collapse .menu-main-menu-container li a{
	float: left;
    font-family: 'Futura Std Light';
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin: 0 5px;
    padding: 5px 10px;
}
.navbar-collapse .menu-main-menu-container li.menu-item-has-children > a:after{
	display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.navbar-collapse .menu-main-menu-container li a:hover{
	color: #cca623;
	text-decoration: none !important;
}
.navbar-collapse .menu-main-menu-container li.current-menu-item > a,
.navbar-collapse .menu-main-menu-container li.current-menu-parent > a{
	color: #cca623 !important;
}

.navbar-collapse .menu-main-menu-container li ul{
	position: absolute;
    top: calc(100% - 2px);
    left: 0;
	display: none;
    z-index: 1000;
    float: left;
    width: 280px;
    padding: 17px;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: ease-in;
    transition-delay: 2s;
}
.navbar-collapse .menu-main-menu-container li:hover ul {
	display: block;
}
.navbar-collapse .menu-main-menu-container li ul li{
	padding: 8px 0;
	width: 100%;
	font-family: 'Futura Std Book';
}
.navbar-collapse .menu-main-menu-container li ul li:hover{
	background: #c18d33;
    border-radius: 10px;
	color: #212529 !important;
}
.navbar-collapse .menu-main-menu-container li ul li:hover a{
	color: #212529 !important;
}	
.navbar-collapse .menu-main-menu-container li ul li a{
	color: black;
	font-family: 'Futura Std Book';
	font-weight: 700;
	font-size: 13px;
	text-decoration: none;
	text-transform: capitalize;
}
.navbar-collapse .menu-main-menu-container .BookNow a{
	background: #d8ad19;
	color: #fff !important;
    text-transform: uppercase;
}
.navbar-collapse .menu-main-menu-container .BookNow a:hover,
.navbar-collapse .menu-main-menu-container .BookNow a:active,
.navbar-collapse .menu-main-menu-container .BookNow a:focus{
	background: #d8ad19;
	color: #fff !important;
}

.home-slide .mainSlider{
	height: 100vh;
	min-height: 600px;
}
.home-slide .mainSlider .slick-list {
	height: 100vh;
	min-height: 600px;
}
.home-slide .mainSlider .slick-list .slick-track{
	height: 100vh;
	min-height: 600px;
}
.home-slide .mainSlider .slick-list .slick-track .slick-slide {
	height: 100vh;
	min-height: 600px;
	background-size: cover !important;
    background-position: center center !important;
}

/*Creativo*/
.year-archive {
	padding: 0;
}
.year-archive li:first-child {
	margin: 0;
}
.year-archive li {
	display: inline;
	margin: 0 10px;
}
.year-archive li a {
	color: #cca623;
}
.pagination {
	display: inherit;
}
.pagination a {
	color: #cca623;
	margin: 0 10px;
}
.page-label {
	margin-right: 10px;
}
span.current {
	margin: 0 10px;
}