/* Title: Empire
   Author: Muhammad Asad
*/

.sliderthumUpper .sliderthum{
	width: 100px !important;
	margin-right: 10px;
}
.sliderthumUpper .sliderthum > .vc_column-inner{
	padding: 0;
}
.sliderthumUpper .sliderContent{
	width:calc(100% - 110px) !important; 
}
.sliderthumUpper .sliderContent > .vc_column-inner{
	padding-left: 0;
}
.sliderthumUpper .sliderContent h2{
	font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 0 0 0;
}
.sliderthumUpper .sliderContent .wpb_text_column *{
	font-size: 12px;
    font-weight: 400;
    color: #fff;
    padding: 0;
}
.sliderthumUpper a{
	position: relative;
}
.sliderthumUpper a:hover:before{
	position: absolute;
	left: 0;
	right: 0;
	background: #caa41f;
	height: 2px;
	content: "";
}
.sliderthumUpper > .vc_column_container:hover .sliderContent h2{
	color: #caa41f !important;
}

.covidInfo p{
	font-size: 13px;
	font-family: 'Futura Std Book';
}

body .vc_tta-tabs-list{
	border-bottom: 1px solid #dee2e6 !important;
}
body .vc_tta-tabs-list .vc_tta-tab{
	margin: 1px 0 0 0 !important;
}
body .vc_tta-tabs-list .vc_tta-tab a{
	padding: 0 !important;
	background: none !important;
	margin: 1px -3px -3px -3px !important;
}
body .vc_tta-tabs-list .vc_tta-tab a span{
    font-size: 15px !important;
	margin: 0 !important;
    color: #282728 !important;
    text-align: center !important;
    background-color: transparent !important;
    border: 1px solid transparent !important;
    padding: 1rem 1.8rem !important;
	display: inline-block !important;
    line-height: 1.5 !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    text-transform: uppercase !important;
    min-width: 174px !important;
	border-color: #282728 !important;
}

body .vc_tta-tabs-list .vc_tta-tab.vc_active a span,
body .vc_tta-tabs-list .vc_tta-tab.vc_active:hover a span,
body .vc_tta-tabs-list .vc_tta-tab.vc_active:active a span,
body .vc_tta-tabs-list .vc_tta-tab.vc_active:focus a span{
	background: #c18d33 !important;
	color: #fff !important;
}
body .vc_tta-tabs-list .vc_tta-tab:hover a span{
	background: #caa41f !important;
    color: #fff !important;
    text-decoration: none;
}

body .vc_tta-panel-body{
	background: #f8f8f8 !important;
}

body .vc_toggle_title{
	background-color: #c18d33 !important;
	padding: 0 !important;
}
body .vc_toggle_title h4{
	text-align: left !important;
    display: block !important;
    width: 100% !important;
    font-size: 18px !important;
    color: #000000 !important;
    position: relative !important;
	margin: 0 !important;
	padding: 0.580rem .75rem !important;
}

body .vc_toggle.card{
	overflow: hidden;
    margin: 0 !important;
	border-radius: 0 !important;
}
body .vc_toggle_title .vc_toggle_icon{
	right: 15px !important;
	left: auto !important;
}
body .vc_toggle_size_md.vc_toggle_default .vc_toggle_icon::before{
	height: 13px;
    width: 2px;
    border: 0 !important;
    background: #000;
}
body .vc_toggle_size_md.vc_toggle_default .vc_toggle_icon{
	display: inline-block;
	width: 13px !important;
	margin-left: 5px;
	height: 2px;
	background: #000 !important;
	border: 0 !important;
}
body .vc_toggle_size_md.vc_toggle_default .vc_toggle_icon::after{
	background: #000 !important;
}
body .vc_toggle > .vc_toggle_content{
	margin: 0 !important;
	padding: 50px !important;
	font-size: 16px !important;
}

body .FaqSection .vc_toggle_title{
	background: #ddd !important;
}
body .FaqSection .vc_toggle_title h4{
	text-align: left !important;
    padding: 10px 20px !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    cursor: pointer !important;
    font-family: Lato, sens-serif !important;
}
body .FaqSection .vc_toggle > .vc_toggle_content{
	padding: 15px 0 !important;
	text-align: left !important;
}
body .FaqSection .vc_toggle > .vc_toggle_content p{
	margin: 0 !important;
}
body .FaqSection .vc_toggle{
	margin-bottom: .5rem !important;
}
body .FaqSection .vc_toggle_icon{
	display: none !important;
}

body .FaqSection .vc_toggle.vc_toggle_active .vc_toggle_title{
	background: #caa41f !important;
	color: #fff !important;
}
body .FaqSection .vc_toggle.vc_toggle_active .vc_toggle_title h4{
	color: #fff !important;
}

.clearBoth{
	clear: both !important;
}

.vactionsSlider .slick-slide{
	border-radius: 15px !important;
	overflow: hidden !important;
}

.VacationPostItem.SmallItem{}
.VacationPostItem.LargeItem{
	background-size: cover !important;
	background-position: center center !important;
}
.VacationPostItem a{
	float: left;
	width: 100%;
	height: 100%;
}
.VacationPostItem .box{
	padding: 0 35px !important;
}

.cuxtomSize{
	height: 158px;
    background-size: cover !important;
    background-position: center top !important;
    display: block;
}

#gotop img{
	margin-bottom: 0;
	
}

.bookNowBtn{
	font-family: 'Futura Std Light';
    background: #d8ad19;
    text-transform: uppercase;
	color: #fff !important;
    font-size: 15px;
    font-weight: 400;
    margin: 30px 0 0 0;
    padding: 5px 10px;
	cursor: pointer;
}

body.postid-164 .innerheader .sub-container .innercontent .luxury-heading{
	display: none;
}

.hideMobile{
		display: block !important;
}
.hidedesktop{
	display: none !important;
}

.vc_tta.vc_general .vc_tta-panel .vc_tta-panel-title{
	background: #c18d33 !important;
    color: #fff !important;
}
.vc_tta.vc_general .vc_tta-panel .vc_tta-panel-heading{
	border-color: #c18d33 !important;
	font-size: 15px !important;
	margin: 0 !important;
	color: #c18d33 !important;
	text-align: center !important;
	background-color: transparent !important;
	border: 1px solid #c18d33 !important;
	text-transform: uppercase !important
}
.vc_tta.vc_general .vc_tta-panel .vc_tta-panel-heading a{
	color: #fff !important;
}
.wpcf7 form.sent .wpcf7-response-output{
	border-color: #cca623 !important;
}

@media (min-width: 1px) and (max-width: 767px) {
.navbar-collapse .menu-main-menu-container li{
	width: 100%;
}
.navbar-collapse .menu-main-menu-container li ul{
	display: inline-block !important;
	padding-left: 40px !important;
    background: black !important;	
    position: static !important;
    float: none !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	}
	.navbar-collapse .menu-main-menu-container li ul li{
		padding: 0 !important;
	}
	.navbar-collapse .menu-main-menu-container li ul li a{
		color: white !important;
	}
	.navbar-collapse .menu-main-menu-container .BookNow a,
	.bookNowBtn{
		width: calc(100% - 10px);
		display: block;
		clear: both;
		margin-left: 5px;
	}
	
	
	.timeline .timeline-end p{
		margin-left: 25px !important;
	}
	
	.timeline .timeline-continue .timeline-right:nth-child(2n+2) .col-md-6{
		float: left;
		order: 1;
	}
	.timeline .timeline-continue .timeline-right:nth-child(2n+2) .col-md-6.contentSection{
		float: right;
		order: 2;
	}
	.timeline-continue .row{
		position: relative;
	}
	
	.timeline-continue .row .bulit-Point{
		position: absolute;
		left: -1px;
		top: 0;
	}
	.timeline-continue .row .contentSection{
		padding-top: 50px;
	}
	
	.timeline .timeline-continue .timeline-right:nth-child(2n+2) .col-md-6.bulit-Point{
		left: 53px;
	}
	body .timeline .row.timeline-right:nth-child(2n+2) .timeline-text{
		text-align: left !important;
	}
	.sliderthumUpper{
		display: none;
	}
	.home-slide .mainSlider .slick-list .slick-track .slick-slide{
		height: 227px !important;
		margin-top: 0;
		min-height: auto !important;
	}
	.vc_custom_1612267772204 .vc_column-inner {
		padding: 0 !important;
	}
	.vc_custom_1612267772204{
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.fleetGuide .btn.btn-primary{
		margin-top: 20px;
	}
	.luxurybox{
		height: 396px !important;
	}
	.luxurybox .box {
		position: absolute !important;
		bottom: 5px !important;
	}
	.luxurybox .box p{
		padding-top: 0 !important;
	}
	.whatsapp-button span{
		display: none !important;
	}
	.whatsapp-button i{
		right: auto !important;
		left: auto;
		top: auto;
		bottom: 0 !important;
		text-align: center;
		width: 100%;
		line-height: 50px;
		float: left;
		padding: 0 !important;
	}
	.whatsapp-button{
		width: 50px;
		height: 50px;
		border-radius: 100% !important;
		padding: 0 !important;
		right: 10px !important;
		bottom: 10px !important;
	}
	.hideMobile{
		display: none !important;
	}
	.hidedesktop{
		display: block !important;
	}
}


@media (min-width: 1px) and (max-width: 480px) {
body.page-id-14 .innerheader{
	background: url(https://zoomdigitalclients.com/EmpireAviation/wp-content/uploads/2021/02/fleet-banner-mob.jpg) !important;
	background-size: cover !important;
	background-position: center left !important;
}
}